.contactMeHero {
    
    h1 {
        padding-top: 80px;
        font-size: 50px;
        font-weight: 700;
        color: #fff;
    }

    form {
        display: flex;
        flex-direction: column;
        padding: 25px 0;
        gap: 35px;

        @media screen and (min-width: 700px) {
            width: 700px;
        }

        input, textarea {
            border: none;
            border-bottom: 2px solid;
            background-color: #040b10;
            border-color: #7f7f7f;
            outline-color:#7f7f7f;
            outline-style: none;
        }

        input[type="text"] {
            color: #7f7f7f;
        }

        input[type="email"] {
            color: #7f7f7f;
        }

        textarea[type="text"] {
            color: #7f7f7f;
        }

        .btn {
            max-width: 140px;
        }
    }
}