
.experience {
    background-color: #040b10;
    padding-bottom: 150px;

    .heading {

        h1 {
            font-size: 55px;
            font-weight: 700;
            color: rgb(127, 127, 127);
            margin-bottom: 30px;
        }
    }

    .content {

        display: flex;

        @media screen and (max-width: 767px) {
            display: flex;
            flex-direction: column;
        }

        .exp-container {
            width: 50%;

            @media screen and (max-width: 767px) {
                width: 100%;
            }

            img {
                width: 100px;
                height: auto;
                padding-bottom: 20px;
            }
        }

        .exp-content {
            width: 50%;

            @media screen and (max-width: 767px) {
                width: 100%;
                padding-right: 0;
            }

            .description {

            }
        }
    }
}