.readmeCard {
    

    .container {
        color: #fff;

        @media screen and (min-width: 769px) {
            max-width: 75%;
        }

        .readme-hero {
            padding: 40px 25px;
        }

    }
}