
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
 

  ::-webkit-scrollbar {
      display: none;
  }

  -ms-overflow-style: none; 
  scrollbar-width: none;
}